@use "../../styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  background-color: $color-primary;
  color: $color-text-inverse;
  
  width: 13.5625rem;  // 217px
  height: 2.875rem;   // 46px
  border-radius: $border-radius-pill;
  padding: $spacing-md $spacing-sm;
  
  border: none;
  cursor: pointer;
  
  // Estilos de fonte
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  line-height: $line-height-relaxed;
  text-decoration: none;
  
  transition: $transition-default;
  
  // Foco para acessibilidade
  &:focus-visible {
    outline: 2px solid offset;
    outline-color: $color-primary;
    outline-offset: 2px;
  }

  // Efeitos de Hover
  &:hover:not(:disabled) {
    background-color: $color-primary-hover;
    box-shadow: $shadow-md;
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
    box-shadow: $shadow-sm;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: $color-disabled;
  }
  
  // Variante: Outline
  &--outline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary-light;
      box-shadow: $shadow-md;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    }
  }
}
