@use "./variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: $font-family-secondary;
  line-height: $line-height-relaxed;
  font-weight: $font-weight-regular;

  color: $color-text-primary;
  background-color: $color-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// Reset básico para botões caso seja necessário
button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
