@use "../../styles/variables" as *;

.heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
  font-size: $font-size-3xl;
  line-height: $line-height-normal;
  letter-spacing: -0.01em;
  color: $color-text-primary;
  margin: 0;

  @include mobile {
    font-size: $font-size-2xl;
  }
}
